{% extends 'base.html' %}
{% load static %}

        {% block content %}
    <!--About-->
    <div id="about_us">    
        <div class= "container">
            <div class="row">
                <!--Title-->
                <div class="col-lg-12 wow fadeInDown">
                    <h2>О нашей компании!</h2>
                    <p>Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <!--About Image-->
        <div class="about_img wow fadeIn">
            <img src="{% static 'img/about.jpg' %}" alt="">
        </div>
    

        <div class="container">
            <div class="row">
                <!--Content-->
                <div class="col-lg-12 text-center">
                    <!--Header-->
                    <h1 class="wow fadeInDown">"Задача организации"</h1>
                    <h3 class="wow fadeInDown">Читайте далее</h3>
                    <div class="line wow fadeInDown"></div>
                    <!--Paragraph-->
                    <p class="paragraph wow fadeInDown">С другой стороны начало повседневной работы по формированию
                                                        позиции позволяет оценить значение существенных финансовых и
                                                        административных условий. Таким образом консультация с широким
                                                        активом способствует подготовки и реализации систем массового
                                                        участия.</p>
                    <!--Paragraph-->
                    <p class="paragraph wow fadeInDown">Значимость этих проблем настолько очевидна, что новая модель
                                                        организационной деятельности позволяет оценить значение соответствующий
                                                        условий активизации</p>
                    <!--Paragraph-->
                    <p class="paragraph wow fadeInDown">Значимость этих проблем настолько очевидна, что новая модель
                                                        организационной деятельности позволяет оценить значение соответствующий
                                                        условий активизации. С другой стороны начало повседневной работы
                                                        по формированию позиции требуют от нас анализа существенных
                                                        финансовых и административных условий.</p>
                </div>
                <!--End Content-->
            </div><!--End Row-->
        </div><!--End Container-->
    </div><!--End About-->

    <!--Testimonial-->
    <div id="testimonials" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="row col-lg-12 text-center wow fadeIn">
                    <h2>Наши партнеры</h2>
                    <ul class="text-center">
                        <li><a href="#"><img src="{% static 'img/partner1.png' %}" alt="" class="img-responsive" /></a><div class="bulut"><p>Описание партнерской программы №1</p></div></li>
                        <li><a href="#"><img src="{% static 'img/partner2.png' %}" alt="" class="img-responsive"/></a><div class="bulut"><p>Описание партнерской программы №2</p> </div></li>
                        <li><a href="#"><img src="{% static 'img/partner3.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №3</p></div></li>
                        <li><a href="#"><img src="{% static 'img/partner4.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №4</p> </div><div class="bulut"></div></li>
                        <li><a href="#"><img src="{% static 'img/partner5.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №5</p> </div></li>
                    </ul>
                </div>    
            </div>
        </div>    
    </div>
    <!--End Testimonial--> 

{% endblock %}
