{% include 'base.html' %}
{% load static %}
     {% block content %}
    
    <!--MENU-->
    <div class="menu">
    <nav class="navbar navbar-fixed-top navbar-custom navbar-page" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="sr-only">Открыть меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>               
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav uppercase">
                    <li class="links"><a class="scroll" href="index.html">Главная</a></li>
                    <li class="links"><a class="scroll" href="service.html">Услуги</a></li>
                    <li class="links"><a class="scroll" href="about.html">О нас</a></li>
                    <li class="links"><a class="scroll" href="team.html">Сотрудники</a></li>
                    <li class="links dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Проекты</a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a href="portfolio_v1.html">Проект №1</a></li>
                            <li><a href="#">Проект №2</a></li>
                            <li><a href="#">Проект №3</a></li>
                        </ul>    
                    </li>
                    <li class="links"><a class="scroll" href="blog.html">Новости</a></li>
                </ul>                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </div>
    <!--End Menu-->
    <!--Portfolio Page-->
    <div id="portfolio_page">    
        <div class= "container">
            <div class="row">
                <div class="row col-lg-12 wow fadeInDown">
                    <h2>Наши проекты</h2>
                    <p>Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <!-- Portfolio-->        
        <div id="filters-container" class="cbp-l-filters-alignCenter">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            Все <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".identity" class="cbp-filter-item">
            Мебель <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".web-design" class="cbp-filter-item">
            Дизайн <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".graphic" class="cbp-filter-item">
            Оформление <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".logos" class="cbp-filter-item">
            Специальное <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".motion" class="cbp-filter-item">
            Разное <div class="cbp-filter-counter"></div>
        </div>
        </div>

        <div id="grid-container" class="cbp">
            <div class="cbp-item identity logos">
                <a href="img/works-1-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-1.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design">
            <a href="img/works-2-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-2.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item motion identity">
            <a href="img/works-3-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-3.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item identity graphic">
            <a href="img/works-4-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-4.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item motion logos">
            <a href="img/works-5-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-5.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <<div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design">
            <a href="img/works-6-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-6.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item identity motion">
            <a href="img/works-7-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-7.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design graphic">
            <a href="img/works-8-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-8.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic logos">
            <a href="img/works-9-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-9.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic motion">
            <a href="img/works-10-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-10.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic">
            <a href="img/works-11-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-11.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic logos">
            <a href="img/works-12-big.jpg" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="img/works-12.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>

        <div id="loadMore-container" class="cbp-l-loadMore-text">
            <a href="ajax/loadMore.html" class="cbp-l-loadMore-link">
                <span class="cbp-l-loadMore-defaultText">Посмотреть еще</span>
                <span class="cbp-l-loadMore-loadingText">Загрузка...</span>
                <span class="cbp-l-loadMore-noMoreLoading">Не найдено</span>
            </a>
        </div>
    </div><!-- End Portfolio Page-->

    <!--Testimonial-->
    <div id="testimonials" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="row col-lg-12 text-center wow fadeIn">
                    <h2>Наши партнеры</h2>
                    <ul class="text-center">
                        <li><a href="#"><img src="img/partner1.png" alt="" class="img-responsive" /></a><div class="bulut"><p>Описание партнерской программы №1</p></div></li>
                        <li><a href="#"><img src="img/partner2.png" alt="" class="img-responsive"/></a><div class="bulut"><p>Описание партнерской программы №2</p> </div></li>
                        <li><a href="#"><img src="img/partner3.png" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №3</p></div></li>
                        <li><a href="#"><img src="img/partner4.png" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №4</p> </div><div class="bulut"></div></li>
                        <li><a href="#"><img src="img/partner5.png" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №5</p> </div></li>
                    </ul>
                </div>    
            </div>
        </div>    
    </div>
    <!--End Testimonial-->

 {% endblock %}