{% extends 'base.html' %}
{% load static %}
     {% block content %}
    

    <!--Portfolio Page-->
    <div id="portfolio_page">    
        <div class= "container">
            <div class="row">
                <div class="row col-lg-12 wow fadeInDown">
                    <h2>Наши проекты</h2>
                    <p>Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <!-- Portfolio-->        
        <div id="filters-container" class="cbp-l-filters-alignCenter">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            Все <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".identity" class="cbp-filter-item">
            Мебель <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".web-design" class="cbp-filter-item">
            Дизайн <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".graphic" class="cbp-filter-item">
            Оформление <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".logos" class="cbp-filter-item">
            Специальное <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".motion" class="cbp-filter-item">
            Разное <div class="cbp-filter-counter"></div>
        </div>
        </div>

        <div id="grid-container" class="cbp">
            <div class="cbp-item identity logos">
                <a href="{% static 'img/works-1-big.jpg' %}" class="cbp-caption cbp-lightbox"
                   data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-1.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design">
            <a href="{% static 'img/works-2-big.jpg' %}" class="cbp-caption cbp-lightbox"
               data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-2.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item motion identity">
            <a href="{% static 'img/works-3-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-3.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item identity graphic">
            <a href="{% static 'img/works-4-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-4.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item motion logos">
            <a href="{% static 'img/works-5-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-5.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <<div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design">
            <a href="{% static 'img/works-6-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-6.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item identity motion">
            <a href="{% static 'img/works-7-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-7.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design graphic">
            <a href="{% static 'img/works-8-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-8.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic logos">
            <a href="{% static 'img/works-9-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-9.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic motion">
            <a href="{% static 'img/works-10-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-10.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic">
            <a href="{% static 'img/works-11-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-11.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic logos">
            <a href="{% static 'img/works-12-big.jpg' %}" class="cbp-caption cbp-lightbox" data-title="Название<br>описание">
                <div class="cbp-caption-defaultWrap">
                    <img src="{% static 'img/works-12.jpg' %}" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Название</div>
                            <div class="cbp-l-caption-desc">Описание</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>

        <div id="loadMore-container" class="cbp-l-loadMore-text">
            <a href="ajax/loadMore.html" class="cbp-l-loadMore-link">
                <span class="cbp-l-loadMore-defaultText">Посмотреть еще</span>
                <span class="cbp-l-loadMore-loadingText">Загрузка...</span>
                <span class="cbp-l-loadMore-noMoreLoading">Не найдено</span>
            </a>
        </div>
    </div><!-- End Portfolio Page-->

    <!--Testimonial-->
    <div id="testimonials" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="row col-lg-12 text-center wow fadeIn">
                    <h2>Наши партнеры</h2>
                    <ul class="text-center">
                        <li><a href="#"><img src="{% static 'img/partner1.png' %}" alt="" class="img-responsive" /></a><div class="bulut"><p>Описание партнерской программы №1</p></div></li>
                        <li><a href="#"><img src="{% static 'img/partner2.png' %}" alt="" class="img-responsive"/></a><div class="bulut"><p>Описание партнерской программы №2</p> </div></li>
                        <li><a href="#"><img src="{% static 'img/partner3.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №3</p></div></li>
                        <li><a href="#"><img src="{% static 'img/partner4.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №4</p> </div><div class="bulut"></div></li>
                        <li><a href="#"><img src="{% static 'img/partner5.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №5</p> </div></li>
                    </ul>
                </div>    
            </div>
        </div>    
    </div>
    <!--End Testimonial-->

 {% endblock %}