{% extends 'base.html' %}
{% load static %}

        {% block content %}

    <!--What-->
    <div id="what">    
        <div class= "container">
            <div class="row">
                <div class="col-lg-12 wow fadeInDown">
                    <!--Header-->
                    <h2>Что мы предлагаем?</h2>
                    <!--Sub Head-->
                    <p>Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <!--What Page Image-->
        <div class="what_img">
            <img src="{% static 'img/what.jpg' %}" class="wow fadeIn" alt="">
        </div>
    
        <!--Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 text-center wow fadeInDown">
                    <!--Header-->
                    <h1 class="wow fadeInDown">Мы предлагаем следующие услуги</h1>
                    <!--Subhead-->
                    <h3 class="wow fadeInDown">нашим клиентам</h3>
                    <div class="line wow fadeInDown"></div>
                    <!--Works-->
                    <div class="works">
                        <!--Work-->
                        <div class="col-lg-4 col-md-6 col-sm-6 box wow fadeInleft">
                            <div class="img-size"><img src="{% static 'img/web.png' %}" alt=""></div>
                            <h3 class="title">Название услуги №1</h3>
                            <p class="detail">Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                        </div>
                        <!--End Work-->

                        <!--Work-->
                        <div class="col-lg-4 col-md-6 col-sm-6 box wow fadeInDown">
                            <div class="img-size"><img src="{% static 'img/html5.png' %}" alt=""></div>
                            <h3 class="title">Название услуги №2</h3>
                            <p class="detail">Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                        </div>
                        <!--End Work-->

                        <!--Work-->
                        <div class="col-lg-4 col-md-6 col-sm-6 box wow fadeInRight">
                            <div class="img-size"><img src="{% static 'img/cms.png' %}" alt=""></div>
                            <h3 class="title">Название услуги №3</h3>
                            <p class="detail">Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                        </div>
                        <!--End Work-->

                        <!--Work-->
                        <div class="col-lg-4 col-md-6 col-sm-6 box wow fadeInLeft">
                            <div class="img-size text-center"><img src="{% static 'img/marketing.png' %}" alt=""></div>
                            <h3 class="title">Название услуги №4</h3>
                            <p class="detail">Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                        </div>
                        <!--End Work-->

                        <!--Work-->
                        <div class="col-lg-4 col-md-6 col-sm-6 box wow fadeInDown">
                            <div class="img-size"><img src="{% static 'img/googleapps.png' %}" alt=""></div>
                            <h3 class="title">Название услуги №5</h3>
                            <p class="detail">Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                        </div>
                        <!--End Work-->

                        <!--Work-->
                        <div class="col-lg-4 col-md-6 col-sm-6 box wow fadeInRight">
                            <div class="img-size"><img src="{% static 'img/wordpress.png' %}" alt=""></div>
                            <h3 class="title">Название услуги №6</h3>
                            <p class="detail">Задача организации, в особенности же постоянный количественный рост и сфера.</p>
                        </div>
                        <!--End Work-->
                    </div><!--End Works-->   
                </div>
            </div><!--End Row-->
        </div><!--End Container-->
    </div><!--End What Page-->   

    <!--Testimonial-->
    <div id="testimonials" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="row col-lg-12 text-center wow fadeIn">
                    <h2>Наши партнеры</h2>
                    <ul class="text-center">
                        <li><a href="#"><img src="{% static 'img/partner1.png' %}" alt="" class="img-responsive" /></a><div class="bulut"><p>Описание партнерской программы №1</p></div></li>
                        <li><a href="#"><img src="{% static 'img/partner2.png' %}" alt="" class="img-responsive"/></a><div class="bulut"><p>Описание партнерской программы №2</p> </div></li>
                        <li><a href="#"><img src="{% static 'img/partner3.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №3</p></div></li>
                        <li><a href="#"><img src="{% static 'img/partner4.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №4</p> </div><div class="bulut"></div></li>
                        <li><a href="#"><img src="{% static 'img/partner5.png' %}" alt="" class="img-responsive"/></a><div class="bulut"> <p>Описание партнерской программы №5</p> </div></li>
                    </ul>
                </div>    
            </div>
        </div>    
    </div>
    <!--End Testimonial-->

{% endblock %}